{% extends "TobionTropaionBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/tobiontropaion/css/teammatch.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/tobiontropaion/css/jquery-ui-1.8.14.custom.css') }}" />
{% endblock %}

{% block tail_javascripts %}
    {{ parent() }}	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
	<script type="text/javascript" src="{{ asset('bundles/tobiontropaion/js/highcharts/js/highcharts.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/tobiontropaion/js/highcharts/js/modules/exporting.js') }}"></script>
	
	<script type="text/javascript">
	//<![CDATA[

	$(document).ready(function() {

	var chart = new Highcharts.Chart({
		chart: {
			renderTo: 'rating-graph',
			zoomType: 'xy'
		},
		title: {
			text: '{% trans with { '%athlete%': athlete.fullName } %}Rating-Entwicklung von %athlete%{% endtrans %}'
		},
		subtitle: {
			text: '{% trans %}Zoomen im Diagramm durch klicken und ziehen{% endtrans %}',
			align: 'right',
			verticalAlign: 'bottom',
			x: 0,
			y: 0
		},
		credits: {
			enabled: false
		},
		xAxis: {
			type: 'datetime',
			// maxZoom: 14 * 24 * 3600000, // fourteen days
			title: {
				text: 'Zeit'
			}
		},
		yAxis: [{
			// left y axis
			title: {
				text: '{% trans %}Rating{% endtrans %}'
			},
			showFirstLabel: false,
		  }, { 
			// right y axis
			linkedTo: 0,
			opposite: true,
			title: {
				text: null
			},
			showFirstLabel: false
		}],
		legend: {
			verticalAlign: 'top',
			y: 30,
			symbolPadding: 10,
			symbolWidth: 40,
			borderWidth: 2
		},
		tooltip: {
			shared: true,
			crosshairs: true
		}, 
		plotOptions: {
			series: {
				step: true,
				shadow: false
			}
		},
		series: [{
			name: '{% trans %}Einzel{% endtrans %}',
			data: {{ singlesRatings | json_encode | raw }},
		}, {
			name: '{% trans %}Doppel{% endtrans %}',
			data: {{ doublesRatings | json_encode | raw }},
		}, {
			name: '{% trans %}Mixed{% endtrans %}',
			data: {{ mixedRatings | json_encode | raw }},
		}]
	});
   
	});

	//]]>
	</script>
	
{% endblock %}

{# set pageRdfId = path('profile_athlete', athlete.routingParams|merge({ '_format': 'html' }) ) ~ '.html' #}

{% block title %}
	{{ athlete.fullName }}
{% endblock %}

{% block metas %}
	{{ parent() }}

	<meta property="og:type" content="athlete" />

{% endblock %}

{% block content %}

<article id="athlete-{{ athlete.id }}" about="{{ path('profile_athlete', athlete.routingParams ) }}" typeof="sport:Athlete">



<h1>{{ athlete.fullName }}</h1>

<div id="rating-graph" style="width: 95%; height: 350px;"></div>

<p>TODO: Klick auf einen Punkt öffnet die Seite zu dem entsprechenden Spiel (siehe <a href="http://jsfiddle.net/cfKzS/3/">Beispiel</a>)</p>

</article>

{% endblock %}