{% extends "TobionTropaionBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/tobiontropaion/css/teammatch.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/tobiontropaion/css/jquery-ui-1.8.14.custom.css') }}" />
{% endblock %}

{% block tail_javascripts %}
    {{ parent() }}	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
	<script type="text/javascript" src="{{ asset('bundles/tobiontropaion/js/highcharts/js/highcharts.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/tobiontropaion/js/highcharts/js/modules/exporting.js') }}"></script>
	
	<script type="text/javascript">
	//<![CDATA[

	$(document).ready(function() {

	var chart = new Highcharts.Chart({
		chart: {
			renderTo: 'rating-graph',
			zoomType: 'xy'
		},
		title: {
			text: '{% trans with { '%athlete%': athlete.fullName } %}Rating-Entwicklung von %athlete%{% endtrans %}'
		},
		credits: {
			enabled: false
		},
		xAxis: {
			type: 'datetime',
			title: {
				text: 'Zeit'
			}
		},
		yAxis: [{
			// left y axis
			title: {
				text: '{% trans %}Rating{% endtrans %}'
			},
			showFirstLabel: false,
		  }, { 
			// right y axis
			linkedTo: 0,
			opposite: true,
			title: {
				text: null
			},
			showFirstLabel: false
		}],
		legend: {
			verticalAlign: 'top',
			y: 30,
			symbolPadding: 10,
			symbolWidth: 40,
			borderWidth: 2
		},
		tooltip: {
			shared: true,
			crosshairs: true,
			formatter: function() {
				var s = '<span style="font-size: 10px">' + 
					window.Highcharts.dateFormat('%A, %b %e, %Y', this.x) + ': ' + 
					this.points[0].point.options.teammatch + ' (' +
					this.points[0].point.options.tournament + ' | ' +
					this.points[0].point.options.league + ')' +
					'</span>';
				$.each(this.points, function(i, p) {
					s += '<br/><span style="color:' + p.series.color + '">' + 
							p.series.name +
							'</span>: <b>' + p.y + '</b> ('+ p.point.options.match + ')';
				});

				return s;
			}
		}, 
		plotOptions: {
			series: {
				step: true,
				shadow: false,
				cursor: 'pointer',
				point: {
					events: {
						click: function() {
							window.open(this.options.url,'_blank'); 
						}
					}
            }
			}
		},
		series: [{
			name: '{% trans %}Einzel{% endtrans %}',
			data: {{ singlesRatings | json_encode | raw }},
		}, {
			name: '{% trans %}Doppel{% endtrans %}',
			data: {{ doublesRatings | json_encode | raw }},
		}, {
			name: '{% trans %}Mixed{% endtrans %}',
			data: {{ mixedRatings | json_encode | raw }},
		}]
	});
   
	});

	//]]>
	</script>
	
{% endblock %}

{# set pageRdfId = path('profile_athlete', athlete.routingParams|merge({ '_format': 'html' }) ) ~ '.html' #}

{% block title %}
	{{ athlete.fullName }}
{% endblock %}

{% block metas %}
	{{ parent() }}

	<meta property="og:type" content="athlete" />

{% endblock %}

{% block content %}

<article id="athlete-{{ athlete.id }}" about="{{ path('profile_athlete', athlete.routingParams ) }}" typeof="sport:Athlete">



<h1>{{ athlete.fullName }}</h1>

<div id="rating-graph" style="width: 95%; height: 350px;"></div>

<details>
	<summary>{% trans %}Hilfe{% endtrans %}</summary>
	{% trans %}<p>Beim Bewegen des Cursors über den Graphen werden zusätzliche Informationen angezeigt, 
		wie das jeweilige Rating und das Spielergebnis, das zu der neuen Ratingbewertung geführt hat. 
		Ein Klick auf den Punkt öffnet die Webseite zum Spiel.
		</p>
		<p>Man kann in das Diagramm hineinzoomen, indem man den Bereich durch Klicken und Ziehen auswählt. 
		Oben rechts befindet sich dann ein Link zum Hinauszoomen.
		</p> 
		<p>Über die Buttons in der oberen rechten Ecke kann das Diagramm gedruckt und als Bild exportiert werden.
		</p>
	{% endtrans %}
</details>

</article>

{% endblock %}