{% extends "TobionTropaionBundle::layout.html.twig" %}

{% block title %}
	{{ club }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/tobiontropaion/css/teammatch.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/tobiontropaion/css/jquery-ui-1.8.14.custom.css') }}" />
{% endblock %}

{% block tail_javascripts %}
	{{ parent() }}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="{{ asset('bundles/tobiontropaion/js/Placeholder-jQuery-Plugin/jquery.placeholder.min.js') }}"></script>
	<script src="{{ asset('bundles/tobiontropaion/js/DataTables-1.8.1/media/js/jquery.dataTables.min.js') }}"></script>

	<script>
	//<![CDATA[
		/* Global variables used to activate filters and access the matrix column in the filtering functions */
		var filter_date_cellindex      = 0, 	// $("th.date").get(0).cellIndex
			filter_stage_cellindex     = 2, 
			filter_homeaway_cellindex  = 3, 
			filter_self_cellindex      = 4, 
			filter_opponent_cellindex  = 6;	
	//]]>
	</script>

	<script src="{{ asset('bundles/tobiontropaion/js/dataTables-custom-functions.js') }}"></script>

	<script>
	//<![CDATA[

		$(document).ready(function() {
			var dataTable = $('#teammatches').dataTable({
				"bPaginate": false,
				"bLengthChange": false,
				"bFilter": true,
				"bSort": true,
				"bInfo": false,
				"bAutoWidth": false,
				"bJQueryUI": true,
				"sDom": '',
				"aoColumns": [
					{ "sType": "time-element" },
					null,
					null,
					null,
					{ "sType": "num-html" },
					{ "sType": "margin-of-victory", "asSorting": [ "desc", "asc" ] },
					null,
					{ "bSortable": false },
					{ "bSortable": false },
					{ "bSortable": false }
				],
				// "aaSorting": [[0,'asc']]
			});

			var teamsnumbers = dataTable.fnGetColumnData(filter_self_cellindex);
			teamsnumbers.sort(numsort);

			fnAppendOptions('#self-filter', teamsnumbers);

			/* Add event listeners to filtering inputs */
			$('#date-filter').change( function() { dataTable.fnDraw(); } );
			$('#stage-filter').change( function() { dataTable.fnDraw(); } );
			$('#homeaway-filter').change( function() { dataTable.fnDraw(); } );
			$('#self-filter').change( function() { dataTable.fnDraw(); } );
			$('#opponent-filter').keyup( function() { dataTable.fnFilter( $(this).val(), filter_opponent_cellindex ); } );
		} );

	//]]>
	</script> 
{% endblock %}

{% set pageRdfId = path('tournament_club', club.routingParams(tournament)) %}

{% block metas %}
	{{ parent() }}
	<meta property="og:type" content="sports_team" />
{% endblock %}

{% block content %}

<article id="club-{{ club.id }}">

<h1>{{ club }}</h1>

<p><a href="{{ path('profile_club', club.routingParams ) }}">{% trans %}Profil-Seite{% endtrans %}</a></p>

<section id="lineups">
	<h2>{% trans %}Aufstellungen{% endtrans %}</h2>
	<p>Mannschaften + Ersatzspieler</p>
	<p>Link zur <a href="{{ path('tournament_athletes_index', tournament.routingParams|merge({ 'club': club.id })) }}">Spielerstatistik des Vereins</a></p>
</section>

<section id="my-results">
<h2>{% trans with { '%club%': club.code } %}Spiele des Vereins <em>%club%</em>{% endtrans %}</h2>

{% include 'TobionTropaionBundle::teammatches-profile-view.html.twig' with {'teammatches': teammatches, 'profileView': 'club', 'perspective': club.name} %}

</section>

</article>

{% endblock %}