{% extends "TobionTropaionBundle::layout.html.twig" %}

{% block title "Vereine &amp; Mannschaften"|trans|raw %}

{% block content %}

<article id="tournament-teams">
	<h1>{% trans %}Vereine &amp; Mannschaften{% endtrans %}</h1>

<section>
	<h2>{% trans %}Übersicht{% endtrans %}</h2>

	{#
	<ul>
		<li>Verein: Anz. Mannschaften, Spieler (Herren, Damen) + davon Ersatzspieler, Ansässiger Ort-Bezirk
			<ol>
				<li>Mannschaft I: Liga
				</li>
			</ol>
		</li>
	</ul>
	#}

	{# TODO translatable #}
	<p>Insgesamt treten {{ nbTeams }} Mannschaften von {{ nbClubs }} Vereinen bzw. Spielgemeinschaften an. 
		Es wurden {{ nbAthletes }} Spieler gemeldet, 
		davon sind {{ nbMen }} Männer ♂, {{ nbWomen }} Frauen ♀ und {{ nbSubstitutes }} Ersatzspieler/innen ⇄.
	</p>

	<ul style="column-count:3; column-gap:20px; -webkit-column-count: 3; -webkit-column-gap:20px; -moz-column-count:3; -moz-column-gap:20px; -o-column-count:3; -o-column-gap:20px;">
	{% for clubTeam in clubTeams %}
		<li>
			<a href="{{ path('tournament_club', clubTeam.club.routingParams(tournament) ) }}">{{ clubTeam.club.name }}</a>
			<div>{{ clubTeam.nbTeams }} Mannschaften &amp; {{ clubTeam.nbAthletes }} Spieler
				<span title="{{ clubTeam.nbMen }} Männer, {{ clubTeam.nbWomen }} Frauen, {{ clubTeam.nbSubstitutes }} Ersatzspieler/innen">({{ clubTeam.nbMen }} ♂, {{ clubTeam.nbWomen }} ♀, {{ clubTeam.nbSubstitutes }} ⇄)</span>
			</div>
			<ol>
			{% for team in clubTeam.teams %}
				<li><a href="{{ path('tournament_team', team.routingParams ) }}">{{ team }}</a> in Liga <a href="{{ path('tournament_league', team.league.routingParams ) }}">{{ team.league.shortName }}</a></li>
			{% endfor %}
			</ol>
		</li>
	{% endfor %}
	</ul>
</section>

<section id="lineup-change">
	<h2>{% trans %}Ummeldungen zur Rückrunde{% endtrans %}</h2>
	<p>TODO</p>
</section>

</article>

{% endblock %}