{% extends "TobionTropaionBundle::layout.html.twig" %}

{% block title %}
	{% trans with {
		'%team1%': teammatch.team1.__toString,
		'%team2%': teammatch.team2.__toString,
		'%league%': teammatch.league.shortName
	} %}Ergebniseingabe: %team1% vs %team2% | %league%{% endtrans %}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/tobiontropaion/css/teammatch.css') }}" />
{% endblock %}

{% block tail_javascripts %}
	{{ parent() }}

	<script>
	//<![CDATA[
		var club1_athletes = {{ club1_athletes | json_encode | raw }};
		var club2_athletes = {{ club2_athletes | json_encode | raw }};
	//]]>
	</script>

	<script src="http://yui.yahooapis.com/3.4.1/build/yui/yui-min.js"></script>
	<script src="{{ asset('bundles/tobiontropaion/js/teammatch-edit.js') }}"></script>
{% endblock %}

{% block content %}

<article>

<form action="{{ path('tournament_teammatch_edit', teammatch.routingParams) }}" method="post" {{ form_enctype(form) }}>
	{# form_widget(form) #}
	{{ form_errors(form) }}

	{{ form_widget(form._token) }}
<dl>
	<dt>{{ form_label(form.venue, 'Halle') }}</dt>
	<dd>
		{{ form_errors(form.venue) }}
		{{ form_widget(form.venue) }}
	</dd>
	<dt>{{ form_label(form.performed_at, 'Austragungsdatum') }}</dt>
	<dd>
		{{ form_errors(form.performed_at) }}
		{{ form_widget(form.performed_at) }}
	</dd>
	<dt>{{ form_label(form.description, 'Beschreibung') }}</dt>
	<dd>
		{{ form_errors(form.description) }}
		{{ form_widget(form.description) }}
	</dd>
	<dt>{{ form_label(form.annulled, 'Annulliert') }}</dt>
	<dd>
		{{ form_errors(form.annulled) }}
		{{ form_widget(form.annulled) }}
	</dd>
</dl>

{#
	tabindex="-1": exclude the element from sequential focus navigation 
	(otherwise IE makes LI and TR focusable)
#}

<table class="scoresheet edit" id="scoresheet-teammatch-{{ teammatch.id }}">
	<caption><a href="#scoresheet-teammatch-{{ teammatch.id }}">{% trans %}Spielbericht{% endtrans %}</a>
		<details>
		<summary>{% trans %}Hilfe{% endtrans %}</summary>
		{% trans %}<p>Das Design des Formulars zum Eingeben von Mannschaftsspielen ist konsistent mit dem der Spielberichte. 
			Daher sollte die Bedeutung der Felder selbsterklärend sein.
			</p> 
			<p>Die Spielerauswahl erfolgt mittels der sog. Autovervollständigung. Beim Fokussieren des entsprechenden Textfeldes,
			erscheint eine Liste mit Vorschlägen von Spielern, die wahrscheinlich eingesetzt wurden (Stammspieler oder Spieler mit früheren Einsätzen in dieser Mannschaft).
			Durch Eingeben des Spielernamens kann man außerdem nach weiteren Spielern suchen, falls der gewünschte Spieler nicht dabei ist.
			Die Anzeige der Einträge enthält zusätzliche Daten zum Spieler, wie die ID und Mannschaftszugehörigkeit, um eine Mehrdeutigkeit bei gleichem Namen zu verhindern.
			Mit der Maus oder der Tastatur kann dann der entsprechende Spieler ausgewählt werden.
			</p>
			<p>Die Berechnung des Mannschaftergebnisses sowie der Punkt- und Satzergebnisse findet automatisch und unmittelbar statt.
			Auch die Validierung der Badminton-Ergebnisse erfolgt während der Eingabe, sodass Tippfehler sofort bemerkt werden.
			</p>
			<p>Bitte das Spiel als "kampflosen Sieg" kennzeichnen, falls eine Partei gewonnen hat, ohne das das Spiel ausgetragen wurde.
			Die Option "Aufgabe" bedeutet dagegen, dass das Spiel <em>während</em> des Spielens aufgegeben wurde (z.B. aufgrund einer Verletzung).
			In diesem Fall kann der Spielstand zum Zeitpunkt der Aufgabe in das "ursprüngliche Ergebnis" eingetragen werden.
			Bei einer Umwertung bezieht sich ein kampfloser Sieg bzw. eine Aufgabe nur auf das - sofern vorhanden - ursprüngliche Ergebnis.
			</p>
			<p>Tipp für eine schnelle Eingabe: Mit der Tabulator-Taste kann man von Feld zu Feld springen.
			</p>{% endtrans %}
		</details>
	</caption>
	<thead>
		<tr tabindex="-1">
			<th scope="col" class="matchtype">{% trans %}Disziplin{% endtrans %}</th>
			<th scope="col" class="team hometeam" title="{% trans %}Heimmannschaft{% endtrans %}">
				{{ teammatch.team1.fullName }}

				<ul class="status">
					<li class="nofight">
						{{ form_widget(form.team1_nofight) }}
						{{ form_label(form.team1_nofight, 'Nicht angetreten') }}
					</li>
					<li class="revaluation">
						{{ form_widget(form.team1_revaluated_against) }}
						{{ form_label(form.team1_revaluated_against, 'Umgewertet gegen') }}
					</li>
				</ul>
			</th>
			<td class="score"><div><mark class="teammatch-result">
				{% spaceless %}
					{{ form_errors(form.team1_score) }}
					{{ form_widget(form.team1_score) }}
					<abbr>:</abbr>
					{{ form_widget(form.team2_score) }}
				{% endspaceless %}
			</mark></div></td>
			<th scope="col" class="team awayteam" title="{% trans %}Auswärtsmannschaft{% endtrans %}">
				{{ teammatch.team2.fullName }}

				<ul class="status">
					<li class="nofight">
						{{ form_widget(form.team2_nofight) }}
						{{ form_label(form.team2_nofight, 'Nicht angetreten') }}
					</li>
					<li class="revaluation">
						{{ form_widget(form.team2_revaluated_against) }}
						{{ form_label(form.team2_revaluated_against, 'Umgewertet gegen') }}
					</li>
				</ul>
			</th>	
			<th scope="col" class="games">{% trans %}Sätze{% endtrans %}</th>
		</tr>
	</thead>
	<tfoot>
		<tr class="sum" tabindex="-1">
			<th scope="row">{% trans %}Summe{% endtrans %}</th>
			<td></td>
			<td class="score" title="{% trans %}Satzergebnis{% endtrans %}"><output>{{ teammatch.team1Games }}:{{ teammatch.team2Games }}</output></td>
			<td></td>
			<td class="games" title="{% trans %}Punktergebnis{% endtrans %}"><output>{{ teammatch.team1Points }}:{{ teammatch.team2Points }}</output></td>
		</tr>
		<tr tabindex="-1">
			<td colspan="5">
				<a href="{{ path('tournament_teammatch', teammatch.routingParams ) }}">{% trans %}Abbrechen{% endtrans %}</a>
				<input type="submit" value="{% trans %}Speichern{% endtrans %}" />
			</td>
		</tr>
	</tfoot>
	<tbody>
		{% for matchForm in form.matches %}
		{% set match = teammatch.matches.get(loop.index0) %}
		<tr class="match" tabindex="-1">
			<th scope="row" class="matchtype">
				{{ form_widget(matchForm.match_type_id) }}
				{{ match.matchType }}
				<div class="noresult">
					{{ form_label(matchForm.noresult, 'Kein Ergebnis') }}
					{{ form_widget(matchForm.noresult) }}
				</div>
			</th>
			<td class="team hometeam">
				<div class="noplayer">
					{{ form_widget(matchForm.team1_noplayer) }}
					{{ form_label(matchForm.team1_noplayer, 'Nicht angetreten') }}
				</div>
				{% if matchForm.team1_player_readable_id.all.errors | length > 0 %}
					<div class="error">
					{{ form_errors(matchForm.team1_player_readable_id) }}
				{% endif %}
				{{ form_widget(matchForm.team1_player_readable_id) }}
				{% if matchForm.team1_player_readable_id.all.errors | length > 0 %}
					</div>
				{% endif %}

				{% if matchForm.team1_partner_readable_id is defined %}
					{% if matchForm.team1_partner_readable_id.all.errors | length > 0 %}
						<div class="error">
						{{ form_errors(matchForm.team1_partner_readable_id) }}
					{% endif %}
					{{ form_widget(matchForm.team1_partner_readable_id) }}
					{% if matchForm.team1_partner_readable_id.all.errors | length > 0 %}
						</div>
					{% endif %}
				{% endif %}
			</td>
			<td class="score" >
				<output class="match-result" title="{% trans %}Spielergebnis{% endtrans %}">
					{{ match.team1Score is none ? '‒' : match.team1Score }}:{{ match.team2Score is none ? '‒' : match.team2Score }}
				</output>
				<div class="result-incident" title="Bei Umwertung bezogen auf das ursprüngliche Ergebnis">
					{{ form_errors(matchForm.result_incident) }}
					{{ form_widget(matchForm.result_incident) }}
				</div>
				<div class="revaluation">
					{{ form_errors(matchForm.revaluation_against) }}
					{{ form_widget(matchForm.revaluation_against) }}
				</div>
			</td>
			<td class="team awayteam">
				<div class="noplayer">
					{{ form_widget(matchForm.team2_noplayer) }}
					{{ form_label(matchForm.team2_noplayer, 'Nicht angetreten') }}
				</div>
				{% if matchForm.team2_player_readable_id.all.errors | length > 0 %}
					<div class="error">
					{{ form_errors(matchForm.team2_player_readable_id) }}
				{% endif %}
				{{ form_widget(matchForm.team2_player_readable_id) }}
				{% if matchForm.team2_player_readable_id.all.errors | length > 0 %}
					</div>
				{% endif %}

				{% if matchForm.team2_partner_readable_id is defined %}
					{% if matchForm.team2_partner_readable_id.all.errors | length > 0 %}
						<div class="error">
						{{ form_errors(matchForm.team2_partner_readable_id) }}
					{% endif %}
					{{ form_widget(matchForm.team2_partner_readable_id) }}
					{% if matchForm.team2_partner_readable_id.all.errors | length > 0 %}
						</div>
					{% endif %}
				{% endif %}
			</td>
			<td class="games">
				<fieldset class="effective-fieldset">
					<legend>{% trans %}Gewertetes Ergebnis{% endtrans %}</legend>
					<ol class="effective">
						{% for gameForm in matchForm.games %}
						{% if not gameForm.annulled.get('value') %}
						<li tabindex="-1">
							{# form_widget(gameForm.annulled) #}

							{{ form_errors(gameForm.team1_score) }}

							{{ form_widget(gameForm.team1_score) }}
							<abbr> : </abbr>
							{{ form_widget(gameForm.team2_score) }}
						</li>
						{% endif %}
						{% endfor %}
					</ol>
				</fieldset>
				<fieldset class="annulled-fieldset">
					<legend>{% trans %}Usprüngliches Ergebnis{% endtrans %}</legend>
					<ol class="annulled">
					{% for gameForm in matchForm.games %}
						{% if gameForm.annulled.get('value') %}
						<li tabindex="-1">
							{{ form_widget(gameForm.annulled) }}

							{{ form_errors(gameForm.team1_score) }}

							{{ form_widget(gameForm.team1_score) }}
							<abbr> : </abbr>
							{{ form_widget(gameForm.team2_score) }}
						</li>
						{% endif %}
						{% endfor %}
					</ol>
				</fieldset>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

	{# form_rest(form) #}
</form>

</article>

{% endblock %}