<!DOCTYPE html>
<html version="XHTML+RDFa 1.0" xml:lang="{% if pageLangCode is defined %}{{ pageLangCode }}{% else %}de{% endif %}"
	property="dc:language" content="{% if pageLangCode is defined %}{{ pageLangCode }}{% else %}de{% endif %}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
	xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
	xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
	xmlns:owl="http://www.w3.org/2002/07/owl#"
	xmlns:dc="http://purl.org/dc/terms/"
	xmlns:foaf="http://xmlns.com/foaf/0.1/"
	xmlns:og="http://ogp.me/ns#"
	xmlns:sport="http://purl.org/sport/ontology/"
	class="no-js">
<head{% if pageRdfId is defined %} about="{{ pageRdfId }}"{% endif %}>
	<meta charset="UTF-8" />
	<title property="dc:title">{% spaceless %}
		{% block title %}Tropaion{% endblock %}
		{% endspaceless %} {% spaceless %}
		{% block title_suffix %}
			{%- if tournament is defined -%}
				@ {{ tournament.shortName }} - {{ tournament.owner.username }}
			{%- endif %} • Ergebnisdienst
		{% endblock %}
		{% endspaceless %}</title>
	<link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="{{ asset('favicon.ico') }}" />
	<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon.png') }}" />
	{#
	<link rel="alternate" type="application/atom+xml" title="Newest team matches" href="" />
	<link rel="search" type="application/opensearchdescription+xml" title="Tropaion Search" href="" />
	#}
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('bundles/tobiontropaion/css/layout.css') }}" />
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono" />
	{% endblock %}
	{% block metas %}
		<meta name="publisher" property="dc:publisher" content="{% if tournament is defined %}{{ tournament.owner.fullName }}{% else %}Badminton-Verband Berlin-Brandenburg e.V.{% endif %}" />
		<meta name="generator" property="dc:creator" content="Tropaion" />
	{% endblock %}

	{% block head_javascripts %}
	<!--[if lt IE 9]>
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
	<![endif]-->
	<script src="{{ asset('bundles/tobiontropaion/js/Modernizr/modernizr-latest.js') }}"></script>
	{% endblock %}
</head>
<body>
	<header id="main-header">
		<img style="float:left;" src="{{ asset('bundles/tobiontropaion/images/logos/bvbb_logo.jpg') }}" alt="BVBB Logo" title="Badminton-Verband Berlin-Brandenburg" width="102" height="90" />
		<hgroup >  
			<h1 title="Startseite • Ergebnisdienst powered by Tropaion"><a href="{{ path('home') }}">{% trans %}Ergebnisdienst{% endtrans %}</a></h1>  
			<h2 title="bvbb.net"><a href="http://bvbb.net">{% trans %}Badminton-Verband Berlin-Brandenburg <abbr title="eingetragener Verein">e. V.</abbr>{% endtrans %}</a></h2>
		</hgroup>	
	</header>

	<nav id="main-menu" style="clear:left;">
		{% block main_menu %}
			<ul>
				<li><a href="{{ path('home') }}">
					{% trans %}Startseite{% endtrans %}</a>
				</li>
				<li><a href="{{ path('home_tournaments') }}">
					{% trans %}Turniere{% endtrans %}</a>
				</li>
				<li><a href="{{ path('home_rankings') }}">
					{% trans %}Ranglisten{% endtrans %}</a>
				</li>
				<li title="{% trans %}Durchsuche Spiele nach verschiedenen Kriterien{% endtrans %}"><a href="{{ path('home_matches') }}">
					{% trans %}Spiele-Browser{% endtrans %}</a>
				</li>
				<li><a href="{{ path('home_clubs') }}">
					{% trans %}Vereine{% endtrans %}</a>
				</li>
				<li><a href="">
					{% trans %}Hallen{% endtrans %}</a>
				</li>
				<li>
					<form action="{{ path('home_search') }}" id="main-search-form" method="get">      
						<div>
							<label for="main-search-field">{% trans %}Suche…{% endtrans %}</label>
							<input type="search" id="main-search-field" name="q" placeholder="{% trans %}Suche Spieler / Mannschaften / Vereine / Turniere{% endtrans %}" /> 
							<input type="submit" value="{% trans %}Suche{% endtrans %}" />
						</div>
						{% if tournament is defined %}
							<input type="hidden" name="tournament" value="{{ tournament.id }}" />
						{% endif %}
					</form> 
				</li>	
			</ul>
		{% endblock %}
	</nav>

	{% if app.session.flash('notice') %}
		<div class="flash-message">
			<em>Notice</em>: {{ app.session.flash('notice') }}
		</div>
	{% endif %}

	<section id="content">
		{% if tournament is defined %}
		<header>
			<h1>{% trans %}Veranstalter:{% endtrans %} 
					<a href="{{ path('profile_user', tournament.owner.routingParams ) }}">{{ tournament.owner.username }}</a> 
				| 
				{% trans %}Turnier:{% endtrans %} 
					<a href="{{ path('tournament', tournament.routingParams ) }}">{{ tournament.shortName }}</a></h1>
		</header>

		<nav id="tournament-menu">
			<ul>
				<li title="{% trans %}News und Spielverlegungen{% endtrans %}"><a href="{{ path('tournament', tournament.routingParams ) }}">
					{% trans %}Übersicht{% endtrans %}</a>
				</li>
				<li title="{% trans %}Klasseneinteilung und Tabellen{% endtrans %}"><a href="{{ path('tournament_leagues_index', tournament.routingParams ) }}">
					{% trans %}Ligen{% endtrans %}</a>
				</li>
				<li title="{% trans %}Ansetzungen &amp; Ergebnisse{% endtrans %}"><a href="{{ path('tournament_matches_index', tournament.routingParams ) }}">
					{% trans %}Spieltermine{% endtrans %}</a>
				</li>
				<li title="{% trans %}Mannschaftsaufstellungen{% endtrans %}"><a href="{{ path('tournament_teams_index', tournament.routingParams ) }}">
					{% trans %}Vereine &amp; Mannschaften{% endtrans %}</a>
				</li>
				<li title="{% trans %}Spielerstatistik{% endtrans %}"><a href="{{ path('tournament_athletes_index', tournament.routingParams ) }}">
					{% trans %}Spieler{% endtrans %}</a>
				</li>
				<li title="{% trans %}Karte der Spielorte{% endtrans %}"><a href="">
					{% trans %}Spielorte{% endtrans %}</a>
				</li>
			</ul>
		</nav>
		{% endif %}

		{% block content %}
		{% endblock %}
	</section>

	<footer id="main-footer">
		<p>{% trans %}Powered by{% endtrans %} <img src="{{ asset('bundles/tobiontropaion/images/trophy/trophy_32px_24bit.png') }}" alt="{% trans %}Trophäe{% endtrans %}" /> <a href="https://github.com/Tobion/Tropaion" title="{% trans %}Tropaion - Der soziale und semantische Sportergebnisdienst{% endtrans %}">Tropaion</a></p>
	<!--
	<p class="license" about="http://www.tobion.de/sportservice/software/" xmlns:doap="http://usefulinc.com/ns/doap#" typeof="doap:Project">
		<span href="http://purl.org/dc/dcmitype/InteractiveResource" property="dc:title" rel="dc:type">Tropaion</span> {% trans %}by{% endtrans %} 
		<a xmlns:cc="http://creativecommons.org/ns#" href="http://www.tobion.de/" property="cc:attributionName" rel="cc:attributionURL" xml:lang="de">Tobias Schultze</a> {% trans %}is licensed under{% endtrans %} 
		<a rel="license" href="http://creativecommons.org/licenses/by/3.0/de/">Creative Commons Attribution 3.0 Germany License</a>. 
		<a href="http://creativecommons.org/licenses/by/3.0/de/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/de/80x15.png" /></a>
	</p>
	<p class="validation" about="" rel="dc:conformsTo" resource="http://www.w3.org/TR/rdfa-syntax">
		{% trans %}Semantically annotated using{% endtrans %} <a href="http://validator.w3.org/check?uri=referer"><img src="http://www.w3.org/Icons/valid-xhtml-rdfa-blue" width="88" height="31" alt="Valid XHTML + RDFa" /></a>
	</p>
	-->

		<nav id="main-footer-menu">
			<ul>
				<li><a href="">
					{% trans %}Hilfe / Über{% endtrans %}</a>
				</li>
				<li><a href="">
					{% trans %}Feedback{% endtrans %}</a>
				</li>
				<li><a href="">
					{% trans %}Datenschutz{% endtrans %}</a>
				</li>
				<li><a href="">
					{% trans %}Entwickler{% endtrans %}</a>
				</li>
				<li><a href="">
					{% trans %}Impressum{% endtrans %}</a>
				</li>
			</ul>
		</nav>
	</footer>

	{% block tail_javascripts %}{% endblock %}
</body>
</html>
