<!DOCTYPE html>
<html version="XHTML+RDFa 1.0" xml:lang="{% if pageLangCode is defined %}{{ pageLangCode }}{% else %}de{% endif %}"
	property="dc:language" content="{% if pageLangCode is defined %}{{ pageLangCode }}{% else %}de{% endif %}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
	xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
	xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
	xmlns:owl="http://www.w3.org/2002/07/owl#"
	xmlns:dc="http://purl.org/dc/terms/"
	xmlns:foaf="http://xmlns.com/foaf/0.1/"
	xmlns:og="http://ogp.me/ns#"
	xmlns:fb="http://ogp.me/ns/fb#"
	xmlns:sport="http://purl.org/sport/ontology/"
	class="no-js">
<head{% if pageRdfId is defined %} about="{{ pageRdfId }}"{% endif %}>
	<meta charset="UTF-8" />
	<title property="dc:title">{% spaceless %}
		{% block title %}Tropaion{% endblock %}
		{% endspaceless %} {% spaceless %}
		{% block title_suffix %}
			{%- if tournament is defined -%}
				@ {{ tournament.shortName }} - {{ tournament.owner.username }}
			{%- endif %} • Ergebnisdienst
		{% endblock %}
		{% endspaceless %}</title>
	<link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="{{ asset('favicon.ico') }}" />
	<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon.png') }}" />
	{#
	<link rel="alternate" type="application/atom+xml" title="Newest team matches" href="" />
	<link rel="search" type="application/opensearchdescription+xml" title="Tropaion Search" href="" />
	#}
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('bundles/tobiontropaion/lib/bootstrap/css/bootstrap.min.css') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/tobiontropaion/lib/bootstrap/css/bootstrap-responsive.min.css') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/tobiontropaion/css/layout.css') }}" />
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono" />
	{% endblock %}
	{% block metas %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="publisher" property="dc:publisher" content="{% if tournament is defined %}{{ tournament.owner.fullName }}{% else %}Badminton-Verband Berlin-Brandenburg e.V.{% endif %}" />
		<meta name="generator" property="dc:creator" content="Tropaion" />
		<meta property="fb:app_id" content="TODO" />
	{% endblock %}

	{% block head_javascripts %}
	<!--[if lt IE 9]>
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
	<![endif]-->
	<script src="{{ asset('bundles/tobiontropaion/lib/modernizr/modernizr-latest.js') }}"></script>
	{% endblock %}
</head>
<body>

<header id="main-header" class="navbar">
	<div class="navbar-inner">
	<div class="row-fluid">
		<div class="span4 brand">
			<a href="{{ path('home') }}"><img src="{{ asset('bundles/tobiontropaion/img/logos/bvbb_logo_unlabeled_4x_transparent.png') }}" alt="BVBB Logo" title="Badminton-Verband Berlin-Brandenburg" width="60" height="48" /></a>
			<hgroup>
				<h1 title="Startseite • Ergebnisdienst powered by Tropaion"><a href="{{ path('home') }}">{% trans %}Ergebnisdienst{% endtrans %}</a></h1>
				<h2 title="bvbb.net"><a href="http://bvbb.net">{% trans %}Badminton-Verband Berlin-Brandenburg{% endtrans %}</a></h2>
			</hgroup>
		</div>

		<nav id="main-menu" class="span5">
			{% block main_menu %}
				<ul class="nav">
					<li title="{% trans %}Finde aktuelle und vergangene Turniere &amp; Ligen{% endtrans %}"><a href="{{ path('home_tournaments') }}">
						{% trans %}Turniere{% endtrans %}</a>
					</li>
					<li><a href="{{ path('home_rankings') }}">
						{% trans %}Ranglisten{% endtrans %}</a>
					</li>
					<li title="{% trans %}Durchsuche Spiele nach verschiedenen Kriterien{% endtrans %}"><a href="{{ path('home_matches') }}">
						{% trans %}Spiele{% endtrans %}</a>
					</li>
					<li><a href="{{ path('home_clubs') }}">
						{% trans %}Vereine{% endtrans %}</a>
					</li>
					<li><a href="{{ path('home_athletes') }}">
						{% trans %}Spieler{% endtrans %}</a>
					</li>
					{#
					<li><a href="{{ path('home_venues') }}">
						{% trans %}Hallen{% endtrans %}</a>
					</li>
					#}
				</ul>

				<form action="{{ path('home_search') }}" id="main-search-form" class="navbar-search" method="get">
					<div class="input-append">
						{% if tournament is defined %}
							<input type="hidden" name="tournament" value="{{ tournament.id }}" />
						{% endif %}
						<input type="search" id="main-search-field" class="search-query" name="q" placeholder="{% trans %}Suche alles &amp; jeden...{% endtrans %}" />
						<button type="submit" class="btn{# add-on"#}"><i class="icon-search"></i></button>
					</div>
				</form>
			{% endblock %}
		</nav>

		<nav id="user-menu" class="span3">
			<h2><a href="#">Username</a></h2>
			<ul class="nav">
				<li><a href="#">
					{% trans %}Einstellungen{% endtrans %}</a>
				</li>
				<li><a href="#">
					{% trans %}Ausloggen{% endtrans %}</a>
				</li>
			</ul>
		</nav>

	</div>
	</div>
</header>

	{% if app.session.flash('notice') %}
		<div class="flash-message">
			<em>Notice</em>: {{ app.session.flash('notice') }}
		</div>
	{% endif %}

	<section id="content" class="container-fluid">
		{% if tournament is defined %}
		<header id="tournament-header">
			<h1>{% trans %}Turnier:{% endtrans %} 
					<a href="{{ path('tournament', tournament.routingParams ) }}">{{ tournament.shortName }}</a> |
				{% trans %}Veranstalter:{% endtrans %} 
					<a href="{{ path('profile_user', tournament.owner.routingParams ) }}">{{ tournament.owner.username }}</a> 
			</h1>
		</header>

		<nav id="tournament-menu">
			<ul class="nav nav-tabs">
				<li title="{% trans %}News und Spielverlegungen{% endtrans %}"><a href="{{ path('tournament', tournament.routingParams ) }}">
					{% trans %}Übersicht{% endtrans %}</a>
				</li>
				<li title="{% trans %}Klasseneinteilung und Tabellen{% endtrans %}"><a href="{{ path('tournament_leagues_index', tournament.routingParams ) }}">
					{% trans %}Ligen{% endtrans %}</a>
				</li>
				<li title="{% trans %}Ansetzungen &amp; Ergebnisse{% endtrans %}"><a href="{{ path('tournament_matches_index', tournament.routingParams ) }}">
					{% trans %}Spieltermine{% endtrans %}</a>
				</li>
				<li title="{% trans %}Mannschaftsaufstellungen{% endtrans %}"><a href="{{ path('tournament_teams_index', tournament.routingParams ) }}">
					{% trans %}Vereine &amp; Mannschaften{% endtrans %}</a>
				</li>
				<li title="{% trans %}Spielerstatistik{% endtrans %}"><a href="{{ path('tournament_athletes_index', tournament.routingParams ) }}">
					{% trans %}Spieler{% endtrans %}</a>
				</li>
				<li title="{% trans %}Karte der Spielorte{% endtrans %}"><a href="">
					{% trans %}Spielorte{% endtrans %}</a>
				</li>
			</ul>
		</nav>
		{% endif %}

		{% block content %}{% endblock %}
	</section>

	<footer id="main-footer" class="container-fluid row-fluid">
	<!--
	<p class="license" about="http://www.tobion.de/sportservice/software/" xmlns:doap="http://usefulinc.com/ns/doap#" typeof="doap:Project">
		<span href="http://purl.org/dc/dcmitype/InteractiveResource" property="dc:title" rel="dc:type">Tropaion</span> {% trans %}by{% endtrans %} 
		<a xmlns:cc="http://creativecommons.org/ns#" href="http://www.tobion.de/" property="cc:attributionName" rel="cc:attributionURL" xml:lang="de">Tobias Schultze</a> {% trans %}is licensed under{% endtrans %} 
		<a rel="license" href="http://creativecommons.org/licenses/by/3.0/de/">Creative Commons Attribution 3.0 Germany License</a>. 
		<a href="http://creativecommons.org/licenses/by/3.0/de/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/de/80x15.png" /></a>
	</p>
	<p class="validation" about="" rel="dc:conformsTo" resource="http://www.w3.org/TR/rdfa-syntax">
		{% trans %}Semantically annotated using{% endtrans %} <a href="http://validator.w3.org/check?uri=referer"><img src="http://www.w3.org/Icons/valid-xhtml-rdfa-blue" width="88" height="31" alt="Valid XHTML + RDFa" /></a>
	</p>
	-->

		<nav id="main-footer-menu" class="span6">
			<ul class="nav nav-pills">
				<li><a href="{{ path('home_help') }}">
					{% trans %}Hilfe / Über{% endtrans %}</a>
				</li>
				<li><a href="{{ path('home_contact') }}">
					{% trans %}Feedback{% endtrans %}</a>
				</li>
				<li><a href="{{ path('home_privacy') }}">
					{% trans %}Datenschutz{% endtrans %}</a>
				</li>
				<li><a href="{{ path('home_developer') }}">
					{% trans %}Entwickler{% endtrans %}</a>
				</li>
				<li><a href="{{ path('home_imprint') }}">
					{% trans %}Impressum{% endtrans %}</a>
				</li>
			</ul>
		</nav>

		<div class="span6">
			<p>{% trans %}Powered by{% endtrans %} <img src="{{ asset('bundles/tobiontropaion/img/trophy/trophy_32px_24bit.png') }}" alt="{% trans %}Trophäe{% endtrans %}" /> <a href="https://github.com/Tobion/Tropaion" title="{% trans %}Tropaion - Der soziale und semantische Sportergebnisdienst{% endtrans %}">Tropaion</a></p>
		</div>
	</footer>

	{% block tail_javascripts %}{% endblock %}
</body>
</html>
