{% macro signed(value) %}{% spaceless %}
	{% if value < 0 %}
		&#8722;{{ value * -1 }} {# correct minus sign encoding, instead of the traditional "hyphen-minus" character #}
	{% elseif value == 0 %}
		&#177;0 {# plus-minus 0 #}
	{% else %} 
		+{{ value }}
	{% endif %}
{% endspaceless %}{% endmacro %}

{% macro lineup_team(lineup, tournament) %}
	{% if lineup.isSubstitute %}
		{% set clubLink %}
			<a href="{{ path('tournament_club', lineup.team.club.routingParams(tournament) ) }} ">{{ lineup.team.club.name }}</a>
		{% endset %}
		{% trans with { '%club%': clubLink } %}Ersatzspieler für %club%{% endtrans %}
	{% else %}
		{% set teamLink %}
			<a href="{{ path('tournament_team', lineup.team.routingParams ) }} ">{{ lineup.team.shortName }}</a>
		{% endset %}
		{% set leagueLink %}
			<a href="{{ path('tournament_league', lineup.team.league.routingParams ) }} ">{{ lineup.team.league.fullName }}</a>
		{% endset %}
		{% trans with { '%team%': teamLink, '%position%' : lineup.position, '%league%' : leagueLink } %}%team% an Meldeposition <strong>%position%</strong> in %league%{% endtrans %}
	{% endif %}
{% endmacro %}

{% macro lineup_athlete(lineupFirstRound, lineupSecondRound, lineupChanged, tournament) %}
	{% if lineupFirstRound and lineupSecondRound and lineupChanged %}
		<dl>
			<dt>{% trans %}Hinrunde{% endtrans %}</dt>
			<dd>{{ _self.lineup_team(lineupFirstRound, tournament) }}</dd>
			<dt>{% trans %}Rückrunde{% endtrans %}</dt>
			<dd>{{ _self.lineup_team(lineupSecondRound, tournament) }}</dd>
		</dl>
	{% elseif lineupFirstRound %}
		<p>{{ _self.lineup_team(lineupFirstRound, tournament) }}</p>
	{% elseif lineupSecondRound %}
		<p>{{ _self.lineup_team(lineupSecondRound, tournament) }} {% trans %}(Nur Rückrunde){% endtrans %}</p>
	{% endif %}
{% endmacro %}